## Deliverable 2. Create a Customer Travel Destinations Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

ImportError: cannot import name 'g_key' from 'config' (/Users/veronicalobkina/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/config/__init__.py)

ImportError: cannot import name 'g_key' from 'config' (/Users/veronicalobkina/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/config/__init__.py)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
weather_data_df = pd.read_csv("../Weather_Database/WeatherPy_challenge.csv")
weather_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,2022-04-30 23:18:32,22.0752,-159.3190,82.38,76,40,18.41,scattered clouds
1,1,Nikolskoye,RU,2022-04-30 23:18:33,59.7035,30.7861,37.80,78,96,7.14,overcast clouds
2,2,Lorengau,PG,2022-04-30 23:18:33,-2.0226,147.2712,82.94,74,100,1.32,overcast clouds
3,3,Mandan,US,2022-04-30 23:18:33,46.8267,-100.8896,52.38,59,100,29.93,overcast clouds
4,4,Avarua,CK,2022-04-30 23:18:34,-21.2078,-159.7750,84.25,74,20,9.22,few clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation"))
max_temp = float(input("What is the maximum temperature you would like for your vacation"))

What is the minimum temperature you would like for your vacation50
What is the maximum temperature you would like for your vacation80

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = weather_data_df.loc[(weather_data_df['Max Temp'] <= max_temp) & \
                                       (weather_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Mandan,US,2022-04-30 23:18:33,46.8267,-100.8896,52.38,59,100,29.93,overcast clouds
5,5,Yeppoon,AU,2022-04-30 23:18:34,-23.1333,150.7333,74.98,83,89,10.98,overcast clouds
7,7,Chicama,PE,2022-04-30 23:18:35,-7.8447,-79.1469,63.14,75,46,8.23,scattered clouds
8,8,Rikitea,PF,2022-04-30 23:18:36,-23.1203,-134.9692,75.97,75,68,10.67,moderate rain
11,11,Salto,UY,2022-04-30 23:16:35,-31.3833,-57.9667,59.88,78,100,5.99,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
686,686,Mahanoro,MG,2022-04-30 23:26:00,-19.9000,48.8000,69.62,87,1,4.21,clear sky
687,687,Walsrode,DE,2022-04-30 23:26:00,52.8667,9.6000,51.10,77,96,5.23,overcast clouds
690,690,Pobe,BJ,2022-04-30 23:26:02,6.9801,2.6649,76.05,86,38,4.25,scattered clouds
692,692,Yima,CN,2022-04-30 23:26:02,34.7381,111.8839,50.68,57,100,6.76,overcast clouds
696,696,Port Macquarie,AU,2022-04-30 23:26:05,-31.4333,152.9167,68.90,71,4,9.24,clear sky

In [17]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                4
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Mandan,US,2022-04-30 23:18:33,46.8267,-100.8896,52.38,59,100,29.93,overcast clouds
5,5,Yeppoon,AU,2022-04-30 23:18:34,-23.1333,150.7333,74.98,83,89,10.98,overcast clouds
7,7,Chicama,PE,2022-04-30 23:18:35,-7.8447,-79.1469,63.14,75,46,8.23,scattered clouds
8,8,Rikitea,PF,2022-04-30 23:18:36,-23.1203,-134.9692,75.97,75,68,10.67,moderate rain
11,11,Salto,UY,2022-04-30 23:16:35,-31.3833,-57.9667,59.88,78,100,5.99,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
686,686,Mahanoro,MG,2022-04-30 23:26:00,-19.9000,48.8000,69.62,87,1,4.21,clear sky
687,687,Walsrode,DE,2022-04-30 23:26:00,52.8667,9.6000,51.10,77,96,5.23,overcast clouds
690,690,Pobe,BJ,2022-04-30 23:26:02,6.9801,2.6649,76.05,86,38,4.25,scattered clouds
692,692,Yima,CN,2022-04-30 23:26:02,34.7381,111.8839,50.68,57,100,6.76,overcast clouds
696,696,Port Macquarie,AU,2022-04-30 23:26:05,-31.4333,152.9167,68.90,71,4,9.24,clear sky

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Mandan,US,52.38,overcast clouds,46.8267,-100.8896,
5,Yeppoon,AU,74.98,overcast clouds,-23.1333,150.7333,
7,Chicama,PE,63.14,scattered clouds,-7.8447,-79.1469,
8,Rikitea,PF,75.97,moderate rain,-23.1203,-134.9692,
11,Salto,UY,59.88,overcast clouds,-31.3833,-57.9667,
13,Talavera De La Reina,ES,59.34,scattered clouds,39.9635,-4.8308,
14,Bluff,NZ,57.79,light rain,-46.6000,168.3333,
15,Vila Do Maio,CV,70.59,broken clouds,15.1333,-23.2167,
19,Itoman,JP,71.62,broken clouds,26.1247,127.6694,
20,Fortuna,US,59.94,overcast clouds,40.5982,-124.1573,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

NameError: name 'g_key' is not defined

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure